@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap');

:root {
    --primary-color: #768948;
    --secondary-color: #e9c46a;
}

/* ------------------------------------------------------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------------------------------------ */

body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(83, 78, 78);
}

.row {
    max-width: 1140px;
    margin: auto;
}

section {
    padding: 4rem 2rem;
}

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
}

p {
    line-height: 145%;
    word-spacing: 1.5px;
}

.icon-big {
    font-size: 3rem;
    padding: 0 0.75rem;
}

/* ------------------------------------------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------------------------------------------ */

header {
    background: linear-gradient(to bottom right, rgba(36, 35, 35, 0.95), rgba(77, 75, 75, 0.95)), url('../img/hero.jpg');
    background-size: cover;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    transition: transform 1s;
}

.nav-logo:hover {
    transform: scale(1.1, 1.1);
}

.nav-pills {
    list-style: none;
}

.nav-item {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.nav-item a:link,
.nav-item a:visited {
    color: #fff;
    padding: 0.75rem 1rem;
    transition: background-color 1s;
}

.nav-item a:hover,
.nav-item a:active{
    background: var(--primary-color);
}

.hero-header {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-highlight {
    color: var(--primary-color);
    font-size: 3rem;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------------------------------ */
/* ABOUT ME */
/* ------------------------------------------------------------------------------------------------ */

.about-me p {
    font-size: 1.1rem;
}

.about-me img {
    height: 10rem;
    width: 10rem;
    background-size: cover;
    border-radius: 50%;
}

/* ------------------------------------------------------------------------------------------------ */
/* SKILLS */
/* ------------------------------------------------------------------------------------------------ */

.skills__row {
    padding: 1rem 0;
    text-align: center;
}

.skills__row h2 {
    text-transform: uppercase;
    font-size: 110%;
}

.skills__row img {
    height: 2rem;
    width: 2rem;
}

.img__firebase {
    transform: scale(2.5, 2.5);
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}

.img__redux {
    transform: scale(1.5, 1.5);
}

.skills__row i {
    transition: color 1s;
}

.skills__row i:hover {
    color: var(--secondary-color);
}

/* ------------------------------------------------------------------------------------------------ */
/* EXPERIENCE */
/* ------------------------------------------------------------------------------------------------ */

.row__progress {
    width: 100%;
}

.experience {
    list-style: none;
}

.experience li {
    display: flex;
    color: #fff;
}

.experience .time {
    position: relative;
    padding: 2rem;
}

.experience li:last-child .time {
    padding: 2rem 2rem 0 2rem;
}

.experience .time:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transform: translateX(50%);
    background: #fff;
    z-index: 2;
}

.experience .content {
    position: relative;
    padding: 0 2rem;
    width: 100%;
}

.experience .content:before {
    content: "";
    display: block;
    border-left: 3px solid #fff;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
}

.experience li:last-child .content:before {
    content: none;
}

.content small {
    font-size: 80%;
}

.company {
    display: flex;
    width: 100%;
}

.company div:first-child {
    font-size: large;
}

.company > div:last-child {
    margin: 0 0 0 auto;
}

.section__footer {
    padding: 2rem 0;
    background: #333;
    color: #fff;
}